<p>Are you sure you want to cancel this trip?</p>
<p>Trip Info:</p>
<p>Lorem Ipsum</p>
<form action="trips.cshtml">
    <input type="submit" value="Yes, cancel the trip" />
</form>
<form action="trips.cshtml">
    <input type="submit" value="No, do not cancel the trip" />
</form>