@using ScarlyCharter.Data
@using System.Linq; 
@{
    ViewData["Title"] = "Home Page";
    var Clients = new ApplicationDbContext ().Clients;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Scarly Charter.</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
