<body>
    <h1>Welcome Back</h1>
    <form action="scheduletrip.cshtml">
        <input type="submit" value="Schedule a trip" />
    </form>
    <form action="trips.cshtml">
        <input type="submit" value="View scheduled trips" />
    </form>
</body>