<p>Cost:</p>
<form action="trips.cshtml">
    <p>First Name:</p>
    <input type="text" id="firstname" />
    <p>Last Name:</p>
    <input type="text" id="lastname" />
    <p>Card Number:</p>
    <input type="text" id="cardno" />
    <p>Expiration Date:</p>
    <input type="text" id="expiration" />
    <p>CCV:</p>
    <input type="text" id="ccv" />
    <p>Billing Address:</p>
    <input type="text" id="address" />
    <p />
    <input type="submit" value="Submit" />
</form>