
@using ScarlyCharter.Data;
@{
    ViewData ["Title"] = "Search";
    var db = new ApplicationDbContext ();
}

<h1>@ViewData ["Title"]</h1>
<hr />
<form action="payment.cshtml">
    <label for="trips">Select A Trip</label>
    <select name="trips" id="trips">
        <!--placeholder options, don't need these-->
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <p>Trip Info:</p>
    <p>Lorem Ipsum</p>
    <div />
    <input type="submit" value="Enter" />
</form>
<p />
<form action="main.cshtml">
    <input type="submit" value="Back" />
</form>
<form action="search.cshtml">
    <input type="submit" value="Advanced Search" />
</form>