<form>
    <label for="region">Region:</label>
    <select name="region" id="region">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <label for="location">Location:</label>
    <select name="location" id="location">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <label for="season">Season:</label>
    <select name="season" id="season">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <label for="fish">Fish:</label>
    <select name="fish" id="fish">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <input type="submit" value="search" />
</form>
<div />
<p>Results:</p>
<p>Lorem Ipsum</p>
<p>Selection:</p>
<p>Lorem Ipsum</p>
<form action="payment.cshtml">
    <input type="submit" value="Enter" />
</form>
<form action="scheduletrip.cshtml">
    <input type="submit" value="Back" />
</form>