<h1>Sign Up</h1>
<form action="main.cshtml">
    <p>Email<p>
        <input type="text" id="email" />
    <p>Username</p>
    <input type="text" id="username" />
    <p>Password</p>
    <input type="text" id="password" />
    <p />
    <input type="submit" value="Enter" />
    <p />
</form>
<a href="login.cshtml">Already a member?</a>