<form action="cancel.cshtml">
    <label for="trips">Scheduled Trips:</label>
    <select name="trips" id="trips">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <p>Trip Info:</p>
    <p>Lorem Ipsum</p>
    <input type="submit" value="Cancel Trip" />
</form>
<form action="main.cshtml">
    <input type="submit" value="Back" />
</form>